<!DOCTYPE html>
<html lang="ja" dir="ltr">
<head>
<meta charset="utf-8">
<title>テーブル選択</title>
<link href="rezimati.css" rel="stylesheet">

</head>
<body>
<p>
<h1>テーブル選択</h1>

<div class = "b">
    <input type="submit" class="btn" value="1番">
    <input type="submit" class="btn" value="2番">
    <input type="submit" class="btn" value="3番">
    <input type="submit" class="btn" value="4番">
    <input type="submit" class="btn" value="5番">
</div>
<br>
<div class = "b">
    <input type="submit" class="btn" value="6番">
    <input type="submit" class="btn" value="7番">
    <input type="submit" class="btn" value="8番">
    <input type="submit" class="btn" value="9番">
    <input type="submit" class="btn" value="10番">
</div>
</body>
</html>