{% extends "./_base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <h2 class="text-center">詳細表示</h2>
                <div class="clearfix">
                    <div class="float-right mt-1 mb-3">

                        
                    </div>
                </div>
                <div>
                    {% include "./invoice_detail_content.html" %}
                </div>
                <div class="float-right mt-1 mb-1">
                    <a class="btn btn-outline-secondary command" href="{% url 'update' invoice.pk %}">追加</a>
                </div>
                <div class="float-right mt-1 mb-1">
                    <a class="btn btn-outline-secondary command" onClick="disp()">会計</a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        <!--
        
        function disp(){
        
            // 「OK」時の処理開始 ＋ 確認ダイアログの表示
            if(window.confirm('本当に会計されますか？')){
        
                location.href ="{% url 'invoice_kaikei' %}"; // example_confirm.html へジャンプ
        
            }
            // 「OK」時の処理終了
            // 「キャンセル」時の処理開始
            else{
            }
            // 「キャンセル」時の処理終了
        
        }
        
        // -->
        </script>
{% endblock %}